body {
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333; 
}

ul {
    list-style-type: none;
}

body > h1 > a > .toggle {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 27px;
    height: 18px;
    background: none;
    border: none;
}

body > h1 > a > .cart {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 18.64px;
}

body > h1 > a > .logo {
    display: inline;
    margin-top: 10px;
    margin-left: 130px;
    text-align: center;
    /* outline: 1px solid red; */
}

/* main */

#main_visual {
    width: 100%;
    display: block;
}

#main_visual .holic {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 24px;
    top: 280px;
}
#main_visual .holic .hol {
    font-size: 60px;
}

.slider {
    position: relative;
    height: 320px;
  }

  .slider > img {
    position: absolute;
    left: 0; top: 0;
    opacity: 0;
    transition-duration: 2s;
  }

  .slider > img.show {
    opacity: 1;
  }

/* New */

#new {
    margin-top: 60px;
}

#new > h2 {
    text-align: left;
    font-size: 24px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#new .product {
    float: left;
}
#new .product .one {
    /* outline: 1px solid red; */
    width: 182px;
    height: 192px;
    margin-right: 5px;
    margin-left: 10px;
}

#new .product .two {
    /* outline: 1px solid red; */
    width: 182px;
    height: 192px;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 10px;
}

#new .product > p {
    /* outline: 1px solid red; */
    font-size: 13px;
    margin-left: 10px;
}

#new .product .icon {
    /* outline: 1px solid red; */
    text-align: center;
    margin-top: -20px;
    margin-right: 35px;
}

/* category */

#category > h2 {
    /* outline: 1px solid red; */
    text-align: left;
    font-size: 24px;
    margin-top: 280px;
    margin-left: 10px;
}
    

#category > ul {
    margin-top: 40px;
}

#category > ul > li {
    float: left;
    width: 25%;
    text-align: center;
}

#category > ul > li > a {
    /* outline: 1px solid red; */
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

#category > ul > li > p {
    padding-top: 20px
}

#category > ul > li > a > img {
    vertical-align: middle;
}

#category > ul > li:nth-child(2) > a > img {
    margin-bottom: 10px;
}

/* best */

#best {
    font-size: 14px;
}

#best > h2 {
    text-align: left;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 156px;
    margin-bottom: 10px;
}

#best .product {
    float: left;
}

#best .product .one {
    width: 181px;
    height: 192px;
    margin-left: 10px;
    margin-right: 5px;
}

#best .product .two {
    width: 181px;
    height: 192px;
    margin-left: 5x;
    margin-right: 10px;
}

#best .product .icon{
    text-align: center;
    margin-top: 25px;
    margin-right: 60px
}

/* Event */

#event > h2 {
    /* outline: 1px solid red; */
    text-align: left;
    margin-left: 10px;
    margin-top: 280px;
    margin-bottom: 10px;
}

#event .sale .one {
    float: left;
}

#event .sale .one > img {
    width: 192px;
    height: 192px;
    margin-left: 10px;
    margin-right: 5px;
}

#event .sale .two > img {
    width: 192px;
    height: 192px;
    margin-right: 10px;
}

/*main_footer*/
#main_footer{

    margin-top: 46px;
    background-image: url("../image/BACKGROUND.png");
    background-size: cover;
    color: #fff;
    text-align: center;
}
#main_footer>.sns>img{
    margin: 9px 27px 11px 27px;
}
#main_footer>p{
    font-size: 8px;
    padding-bottom: 4px;
}